@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  max-width: 30vw;

  font-family: 'Montserrat', sans-serif;
}

.form-login > h1 {
  text-align: center;
}

.labeled-input {
  display: flex;
  flex-direction: column;

  position: relative;
}

.labeled-input > input {
  padding: .2rem;
}

.labeled-input > input[type="password"]::-ms-reveal {
  display: none;
}

.labeled-input > img {
  position: absolute;
  right: 0;
}